<footer class="footer bg-secondary py-3 mt-auto">
    <div class="container">
        <span class="text-dark">&copy;YelpCamp 2023</span>

    </div>
</footer>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, facilis doloremque beatae incidunt officiis quam distinctio in fugit, perspiciatis vel saepe blanditiis temporibus harum. Neque ipsa laborum eius exercitationem voluptatum!
